h2{
	font-size: 1.5em;
}

#row1{

	background-color: ;
	height: 200px;
}

#row2{

	background-color: ;
	height: 200px;
}

#tabla{

	height: 250px;
	width: 500px;
	border: solid;
	padding: 30px;
	margin: 40px;
}

.valores{
	height: 300px;
	width: 500px;
	border: solid;
	padding: 30px;
	margin: 40px;
}

input{
	margin: 10px;
	width: 200px;
}

#select{
	width: 180px;
}

#coliz{
	background-color: blue;
	height: 70px;
}



